body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    font-family: 'SF Pro Display';
    
  
  }
  
  
  a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: 'SF Pro Display';
    color: #1E130C;
  }

  button {
    display: inline-flex;
    border: 0;
    background: transparent;
  }

  button:focus {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }
  

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'SF Pro Display Bold';
}

.main-content.aside-open {
  width: 65%;
}

.main-aside.open {
  display: block;
}


.switch input:checked + .slider {
  background-color: #d6be58;
}

.switch input:focus + .slider {
  /* box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7); */
  outline: none;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.opcaity-hide {
  opacity: 0.6;
}

.opcaity-hide .add-to-cart {
  display: none !important;
}

.cm-card:hover input ~ .checkmark {
  background-color: #ccc;
}

.cm-card input:checked ~ .checkmark {
  background-color: #d6be58 !important; 
}

.cm-card input:checked ~ .checkmark:after {
  display: block;
}

.cm-card .checkmark:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}

.aside-btn {
  display: flex;
  width: 100%;
  height: 40px;
  background: #d6be58;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  font-family: 'SF Pro Display';
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #d6be58;
  color: white;
}

.select2-results__option  {
  font-size: 13px;
  font-family: 'SF Pro Display Light';
}