.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.sidenav {
  width: 10%;
  height: 100vh;
  overflow: hidden;
  background: #d6be58;
  text-align: center;
  position: fixed;
}

.logo img {
  height: 70px;
  margin: auto;
  margin-top: 15px;
}

.navigation {
  height: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation li.active a {
  background-color: #fbdb5473;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navigation li {
  margin-bottom: 20px;
}

.navigation li:last-child {
  margin-bottom: 0;
}

.navigation li .tooltips:hover:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #444;
  border-radius: 4px;
  color: #fff;
  content: attr(title);
  margin: -52px auto 0;
  font-size: 16px;
  padding: 7px 10px;
  width: 134px;
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'SF Pro Display Bold';
}

.navigation li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation li a img {
  height: 30px;
  display: block;
  margin: auto;
}

.main {
  width: 90%;
  padding: 10px 20px;
  background: #f9f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}

.main .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.main .main-header h2 {
  font-size: 22px;
  margin-bottom: 0;
}

.main .main-header h4 {
  font-size: 18px;
}

.main .search {
  position: relative;
  margin: 15px 0 10px;
}

.main .search input {
  padding: 8px 10px 8px 40px;
  width: 100%;
  border: 1px solid #f9f9fa;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
}

.main .search input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.main .search i {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
  color: #848281;
  font-size: 13px;
}

.main-content {
  padding-right: 20px;
  width: 100%;
}

.main-content .content {
  height: calc(100% - 100px);
  overflow: scroll;
}

.main-content .content table {
  width: 100%;
}

.main-content .content table thead {
  background: #e4e4e4;
}

.main-content .content table th.action {
  width: 175px;
  text-align: center;
}

.main-content .content table th {
  font-size: 17px;
  font-family: 'SF Pro Display Bold';
  padding: 8px 0;
}

.main-content .content table th:first-child {
  width: 40px;
}

.main-content .content table td {
  font-size: 16px;
  font-family: 'SF Pro Display Light';
  padding: 12px 0;
}

.main-content .content table td textarea {
  width: 95%;
  border: 0;
  border: 1px solid #e4e4e4;
  margin-top: 13px;
  padding: 5px 8px;
}

.main-content .content table td textarea:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.main-content .content table td button {
  background: #d6be58;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main-content .content table tbody tr {
  border-bottom: 1px solid #d0d0d4;
}

.main-aside {
  width: 35%;
  background: #fff;
  border-radius: 25px;
  padding: 5px 20px;
  display: none;
}

.main-aside .main-header {
  border-bottom: 1px solid #d0d0d4;
  padding-bottom: 10px;
}

.main-aside .aside-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background: #d6be58;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Pro Display';
}

.add-mem {
  margin-top: 20px;
}

.add-mem h4 {
  font-size: 18px;
}

.add-mem .choose-mem label.cm-card {
  margin-right: 20px;
}

.add-mem .addm-sing {
  margin: 15px 0;
}

.add-mem .addm-sing input {
  border: 1px solid #d0d0d4;
  width: 100%;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  padding: 5px 10px;
}

.add-mem .addm-sing input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.add-mem .addm-sing label {
  display: block;
  font-family: 'SF Pro Display Light';
  margin-bottom: 5px;
  font-size: 14px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.login-page .log-half {
  width: 50%;
}

.login-page .login-logo img {
  width: 50px;
  margin-top: 20px;
}

.login-page .login-content {
  padding-top: 80px;
}

.login-page .login-content h4 {
  font-size: 28px;
}

.login-page .log-half.img-bg {
  background: #d4d4de;
  width: 50%;
  height: 100vh;
}

.login-page .log-half.lg-wrap {
  padding-left: 90px;
}

.login-page .log-wrap {
  margin-top: 40px;
}

.login-page .log-wrap button {
  display: block;
  width: 350px;
  background: #d6be58;
  height: 40px;
  border: 0;
  color: #fff;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.login-page .log-wrap button:hover {
  background: #eccd43;
}

.login-page .log-wrap .log-form {
  margin-bottom: 20px;
}

.login-page .log-wrap .log-form label {
  display: block;
  font-family: 'SF Pro Display Bold';
}

.login-page .log-wrap .log-form input {
  border: 1px solid #d0d0d4;
  width: 350px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  padding: 7px 10px;
}

.login-page .log-wrap .log-form input:focus {
  outline: none;
  background: #e6e6ef;
}

.main-wrap {
  background: #f9f9fa;
  height: 100vh;
}

.mem-desc {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.mem-desc p {
  margin-bottom: 5px;
}

.mn-head {
  text-align: center;
}

.mn-head img {
  padding-top: 10px;
  height: 100px;
}

.mn-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.mn-card-wrap .mn-card {
  margin: 15px;
  width: 20%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.mn-card-wrap .mn-card a {
  color: #d6be58;
  font-family: 'SF Pro Display Bold';
  text-transform: uppercase;
  text-align: center;
}

.mn-card-wrap .mn-card img {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.search-filter {
  margin: 20px 0;
}

.search-filter a {
  display: inline;
  margin-right: 15px;
  background: #efefef;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 13px;
}

.new-btn, .del-btn, .cart-btn {
  background: #d6be58;
  width: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.new-btn .cart-count, .del-btn .cart-count, .cart-btn .cart-count {
  margin-left: 5px;
}

.del-btn {
  margin-right: 10px;
  background: #d65858;
}

.tab-content {
  border-top: 1px solid #dedede;
  margin-top: 30px;
  padding-top: 15px;
  padding-right: 20px;
}

.tab-content .ser-item {
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.tab-content .ser-item h5 {
  margin-bottom: 5px;
  font-size: 15px;
}

.tab-content .ser-item h6 {
  font-size: 13px;
  font-family: 'SF Pro Display Light';
  color: #948d8d;
}

.tab-content .ser-item p {
  font-family: 'SF Pro Display';
  margin-bottom: 0;
  font-size: 18px;
  color: #d6be58;
  margin-top: 10px;
  line-height: 1;
}

.tab-content .ser-item .add-to-cart {
  color: #fff;
  background: #d6be58;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.tab-content .ser-item .add-to-cart:hover {
  background: #c7a309;
}

.ser-tab {
  margin-top: 10px;
}

.ser-tab ul.nav.nav-tabs {
  border-bottom: 0;
}

.ser-tab ul.nav.nav-tabs a.active {
  background: #d6be58;
}

.ser-tab ul.nav.nav-tabs img {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 15px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.ser-tab ul.nav.nav-tabs li {
  text-align: center;
}

.ser-tab ul.nav.nav-tabs li a {
  display: inline-block;
  width: 90px;
  padding: 5px;
  border: 1px solid #f3f3f3;
  margin-right: 15px;
  border-radius: 20px;
  background: #f3f3f3;
}

.ser-tab ul.nav.nav-tabs li a span {
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  display: block;
  line-height: 1.3;
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round::before {
  border-radius: 50%;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6E6E6E;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.actn-btn a, .actn-btn button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.actn-btn .view-btn {
  background: #d6be58;
}

.actn-btn .edit-btn {
  background: #6bd658;
}

.actn-btn .delete-single {
  background: #d65858;
}

.cart-head {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d0d0d4;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.cart-head h4 {
  font-size: 18px;
}

.cart-head button, .cart-head a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  width: 80px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d65858;
  border-radius: 20px;
  font-family: 'SF Pro Display Light';
  font-size: 14px;
  color: #ffff;
  cursor: pointer;
}

.cart-head button:focus, .cart-head a:focus {
  outline: none;
}

.cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-total h6 {
  margin-right: 50px;
}

.cart-total h4 {
  font-size: 22px;
}

.cart-grand-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-grand-total h4 {
  margin-left: 20px;
}

.cart-amount .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.cart-amount .discount h6 {
  font-family: 'SF Pro Display Light';
}

.cart-amount .discount h5 {
  margin-left: 30px;
  font-size: 16px;
}

.checkout {
  text-align: center;
  margin-top: 50px;
}

.cart-sing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin: 25px 0;
}

.cart-sing .cart-ser-des {
  width: 230px;
}

.cart-sing .cart-ser-des h5 {
  font-size: 15px;
  margin-bottom: 2px;
}

.cart-sing .cart-ser-des p {
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  margin-bottom: 5px;
}

.cart-sing .cart-ser-des h6 {
  font-family: 'SF Pro Display bold';
  margin-bottom: 0;
  color: #d6be58;
}

.cart-sing .cart-ser-des h6 input {
  width: 60px;
  padding: 8px;
  margin-left: 5px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  color: #d6be58;
}

.cart-sing .cart-ser-des h6 input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.cart-sing .cart-qty input {
  width: 40px;
  border: 1px solid #f9f9fa;
  border-radius: 8px;
  padding: 3px 5px;
  background: #f3f3f3;
  text-align: center;
  font-size: 15px;
}

.cart-sing .cart-qty input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.cart-sing .cart-rem button {
  background: transparent;
  border: 0;
  color: #f44e4e;
  line-height: 1;
  cursor: pointer;
}

.cart-sing .cart-rem button:focus {
  outline: none;
}

.checkout-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-box .cart-wrap {
  width: 35%;
  background: #fff;
  padding: 1px 20px;
  height: calc(100vh - 20px);
}

.checkout-box .transaction-box {
  width: 64%;
  background: #fff;
  padding: 1px 20px;
}

.checkout-box .transaction-box .tb-info {
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.checkout-box .transaction-box .tb-info:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.checkout-box .transaction-box .tb-info h4 {
  font-size: 22px;
}

.checkout-box .transaction-box .tb-info .choose-mem {
  margin-top: 20px;
}

.checkout-box .transaction-box .tb-info .choose-mem .cm-card {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkout-box .transaction-box .tb-info .choose-mem .cm-card input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkout-box .transaction-box .tb-info .choose-mem .cm-card .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkout-box .transaction-box .tb-info .choose-mem .cm-card .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkout-head {
  margin: 20px 0;
  margin-bottom: 30px;
}

.checkout-head h4 {
  font-size: 22px;
  margin-bottom: 0;
}

.checkout-head p {
  font-size: 14px;
  font-family: 'SF Pro Display Light';
}

.cart-checkback {
  margin-top: 50px;
}

.cart-checkback a, .cart-checkback button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Pro Display';
  font-size: 16px;
  background: #d6be58;
  color: #fff;
  width: 250px;
  border-radius: 4px;
  height: 40px;
}

.cart-checkback a i, .cart-checkback button i {
  margin-right: 10px;
}

.cart-entries .entry {
  margin: 10px 0;
}

.cart-entries .entry label {
  display: block;
  font-family: 'SF Pro Display Light';
  margin-bottom: 5px;
  font-size: 14px;
}

.cart-entries .entry textarea {
  height: 100px;
  border: 1px solid #d0d0d4;
  width: 100%;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
}

.cart-entries .entry input {
  border: 1px solid #d0d0d4;
  width: 100%;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  padding: 5px 10px;
}

.cart-entries .entry input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.mem-detail {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.mem-detail .mem-det-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mem-detail .mem-det-top .profile-image {
  width: 100px;
  height: 100px;
  font-family: 'SF Pro Display Black';
  background: #d6be58;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #fff;
}

.mem-detail .mem-det-top .mem-desc h3 {
  margin-bottom: 3px;
}

.mem-detail .mem-det-top .mem-desc p {
  font-family: 'SF Pro Display Light';
  margin-bottom: 0px;
}

.mem-detail .mem-det-top .mem-desc .reward-point {
  border: 1px solid #d0d0d4;
  padding: 8px;
  font-size: 13px;
  margin-top: 5px;
  border-radius: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
}

.mem-detail .mem-det-top .mem-desc .reward-point i {
  color: #d6be58;
  font-size: 12px;
  margin-right: 5px;
}

.mem-detail .mem-det-top .mem-desc .reward-point span {
  font-family: 'SF Pro Display';
  margin-left: 5px;
}

.mem-notify {
  margin-top: 30px;
  background: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
  padding: 15px 0;
}

.mem-notify p {
  margin-bottom: 0;
}

.mem-det-bottom {
  border-top: 1px solid #e4e4e4;
  margin-top: 30px;
  padding-top: 20px;
}

.mem-det-bottom .mdb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mem-det-bottom .mdb-wrap p {
  font-family: 'SF Pro Display Light';
  margin-bottom: 0;
  min-width: 210px;
  font-size: 16px;
  padding-left: 40px;
  text-align: left;
}

.mem-det-bottom .mdb-wrap p:last-child {
  font-family: 'SF Pro Display Bold';
}

.setting-card {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
}

.setting-card h5 {
  font-family: 'SF Pro Display';
  font-size: 16px;
}

.setting-card h4 {
  font-family: 'SF Pro Display Bold';
  font-size: 16px;
}

.setting-card h4 span {
  font-family: 'SF Pro Display';
}

.setting-card img {
  width: 250px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #d0d0d4;
  margin-top: 15px;
}

.setting-card .pass-change {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting-card .pass-change label {
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  width: 150px;
}

.setting-card .pass-change input {
  border: 1px solid #d0d0d4;
  width: 350px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  padding: 8px 10px;
}

.setting-card .pass-change input:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.setting-card .pass-change button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 40px;
  background: #d6be58;
  color: #fff;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Pro Display';
  margin-top: 15px;
}

.trnx-detail {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  padding: 15px;
}

.trnx-detail h4 {
  margin-bottom: 0;
  font-family: 'SF Pro Display Bold';
  font-size: 18px;
}

.trnx-detail h4 span {
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  margin-right: 5px;
}

.servie-btn {
  background: #307ec1;
}

.cart-for {
  text-align: center;
  font-family: 'SF Pro Display Bold';
  font-size: 18px;
}

.cart-for span {
  font-size: 14px;
  font-family: 'SF Pro Display Light';
}

.select-info {
  min-width: 360px;
}

.mobile-home-btn {
  display: none;
  position: fixed;
  width: 100%;
  background: #f9f9fa;
  padding-left: 10px;
}

.mb-cart-close {
  position: fixed;
  top: 20px;
  border: 1px solid #868686;
  width: 30px;
  height: 30px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #fff;
}

.login-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login-wrap .login-form {
  width: 40%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrap .login-form .lg-head {
  position: absolute;
  top: 30px;
  left: 30px;
}

.login-wrap .login-form .lg-head img {
  width: 60px;
}

.login-wrap .login-form .login .login-card {
  margin: 25px 0;
}

.login-wrap .login-form .login .login-card span {
  display: block;
  font-family: 'SF Pro Display Light';
  font-size: 12px;
  margin-bottom: 5px;
}

.login-wrap .login-form .login .input-text {
  border: 1px solid #d0d0d4;
  width: 350px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'SF Pro Display Light';
  padding: 8px 10px;
}

.login-wrap .login-form .login .input-text:focus {
  outline: none;
  border: 1px solid #d6be58;
}

.login-wrap .login-form .login button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 40px;
  background: #d6be58;
  color: #fff;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Pro Display';
  margin-top: 15px;
}

.login-wrap .login-img {
  width: 60%;
}

.login-wrap .login-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */